header{
    height:70px;
    
    z-index:4;
    
}
.navi {
    text-align: right;
    font-size: 10px;
    font-family: Arial,Helvetica,sans-serif;
    
    zoom: 1;
    opacity: 0.9;
    /*left: 500px;*/
    top: 30px;
    /*width: 700px;*/
    min-height: 23px;
    position: absolute;
}   
   

.div-div {
    
    border:  1px;
    display: inline-block;
    padding: 0 10px;
    
    
}

.nav-a:link
{
    
    text-decoration:none;
    
    line-height: 1.2em;
}
.nav-a:hover
{
    cursor: pointer;
    color: rgb(57, 114, 155);
    transition: color 0.4s ease 0s;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;

}
#selected, .nav-a:active {
    color: rgb(57, 114, 155);
    transition: color 0.4s ease 0s;;
    -webkit-transition-property: color;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: 0s;
    
}

.nav-a{
    color: #ddd;
    font-size: 16px;
    width: auto;
    line-height: 23px;
    padding:0 8px;    
    /*letter-spacing: 1px;*/
}
