nav {
    font-size: 14px;
    font-family: georgia;
    text-align: center;
    float: right;
    
}
div {
    width: 300px;
    border:  1px;
    display: inline;
    padding: 10px 0;
    background: white;
	background-image: -webkit-linear-gradient(#white, #950);
	background-image:    -moz-linear-gradient(#white, #950);
	background-image:     -ms-linear-gradient(#white, #950);
	background-image:      -o-linear-gradient(#white, #950);
	background-image:         linear-gradient(#white, #950);
    text-decoration: none;
}

a:first-child div {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
a:last-child div {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
a:link, a:active
{
font-weight:bold;
color: black;
text-align:center;
padding:6px;
text-decoration:none;
text-transform:uppercase;
}
a:hover,a:active
{
text-decoration: underline;
}
#selected {
    color:blue;
    font-weight:bold;
}

